<!-- <app-header></app-header> -->

<ng-container *ngIf="product$ | async as products">
    <h2 style="padding-left: 10px;">Welcome to the Employee Dashboard</h2>
    <p-carousel [value]="products" [numVisible]="2" [numScroll]="2" [circular]="false"
        [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div>
                        <img src="../{{product.image}}" [alt]="product.name" class="product-image" />
                    </div>
                    <div>
                        <h4 class="p-mb-1">{{product.title}}</h4>

                        <a href="{{product.url}}" style="text-decoration:none">
                            <p-button type="button">Read More ></p-button>
                        </a>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</ng-container>